<template>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div v-for="movie in laravelData.data" :key="movie.id" class="col-md-3 p-2">
                                <div class="card">
                                    <a v-bind:href="'/movie/' + movie.id">
                                    <img v-bind:src="'https://image.tmdb.org/t/p/w300_and_h450_bestv2/' + movie.poster_url" class="card-img-top" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ movie.title }} </h5>
                                        <p class="card-text">{{ movie.release_date }}</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <pagination :data="laravelData" align="center" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
    </div>
</template>


<script>

    export default {
        
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                laravelData: {},
            }
        },

        created() {
            this.getResults();
        },

        methods: {
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                this.$http.get('/api/lists?page=' + page)
                    .then(response => {
                        return response.json();
                    }).then(data => {
                    this.laravelData = data;
                });
            }
        }
    }
</script>

